@import url("http://fonts.googleapis.com/css?family=Ubuntu:regular,bold");

/*
    Main containers
 */


body {
    font-family: 'Ubuntu';
}

.p1 {
    height: 100%;
    width: 45%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.p2 {
    height: 100%;
    width: 55%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.d1 {
    padding: 30px;
    left: 0;
    display: flex;
    flex-direction: column;

    align-content: center;

    background-color: #E5E5E5;
}

.d2 {
    padding-top: 20px;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-content: center;
}

.d2_2 {
    height: inherit;
    justify-content: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-content: center;

    gap: 15px;
}

/*
    Items:
 */

.cover {
    max-width: 80%;
    align-self: center
}

.f-col {
    display: flex;
    flex-direction: column;
}

.f-row {
    display: flex;
    flex-direction: row;
}

.fj-st {
    width: 100%;
    align-self: center;

    justify-content: flex-start;
}

.fj-cen {
    width: 100%;
    align-self: center;

    justify-content: center;
}

.fj-end {
    width: 100%;
    align-self: center;

    justify-content: flex-end;
}

.fa-st {
    width: 100%;
    align-self: flex-start;

}

.fa-cen {
    width: 100%;
    align-self: center;

    justify-content: center;
}

.fa-end {
    width: 100%;
    align-self: flex-end;

    justify-content: center;
}

.pad-100 {
    padding: 100px 200px;
}

.selected {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

span {
    color: #8A8C99;
}

.d2_2 button {
    align-items: unset;
}

.d2_2 article{
    align-self: flex-start;
}

.inp-48 {
    height: 48px;
}

.h1-20 {
    font-size: 20px;
    font-weight: bolder;
}

.h1-18 {
    font-size: 18px;
    font-weight: bolder;
}


.fs-15 {
    font-size: 15px;
}

.fs-14 {
    font-size: 14px;
}

.hr-ctext {
    display: flex;
    align-items: center;
}
.hr-ctext:before,
.hr-ctext:after {
    content: "";
    flex-grow: 1;
    background: #D2D4D9;
    height: 1px;
    font-size: 0;
    line-height: 0;
}
.hr-ctext:before {
    margin-right: 26px;
}

.hr-ctext:after {
    margin-left: 26px;
}

/*
    Bootstrap elements' customizing
 */

.btn {
    height: 48px;
}

.btn-primary {
    background-color: #008F91;
    border-color: #008F91;
}

.btn-secondary {
    background-color: #19181B;
    border-color: #19181B;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active {
    background: #30adad;
    color: #ffffff;
    border-color: #00aaa8;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary.active {
    background: #2c2c2c;
    color: #ffffff;
    border-color: #2c2c2c;
}

.btn-link {
    color: #2c2c2c;
}

.btn-light {
    background-color: unset;
    border-color: #D2D4D9;
}


.form-group-icon {
    position: relative;
}

.form-group-icon input {
    padding-left: 36px;
}

.form-group-icon i {
    position: absolute;
    color: gray;
    left: 14px;
    bottom: 15px;
}

.form-group-icon i img {
    height: 18px;
}

.showPassword {
    position: absolute;
    color: gray;
    border: none;
    background: none;
    right: 8px;
    bottom: 13px;
}

.showPassword img {
    height: 16px;
}

.input-group select {
    color: gray;
}

